<html>
<head>
    <meta charset="utf-8">
    <title>Liste des annonces</title>

</head>
<body>

    <div style="background-color:#f9ecec; margin:auto 10%; padding:2% 2%; max-width:90%  ">
        <h1>La listes de nos annonces</h1>
            <table border="1">
                <tr>
                    <th>Date</th>
                    <th>Titre</th>
                    <th>Autheur</th>
                    <th>Contenue</th>
                    <th>Date update</th>
                    <th>Le lien de l'image</th>

                </tr>
                {% for advert in adverts %}
                <tr>
                    <td> {{ advert.date |date }} </td>
                    <td> {{ advert.title }} </td>
                    <td> {{ advert.author }} </td>
                    <td> {{ advert.content }} </td>
                    <td>  {{ advert.updatedAt|date }} </td>
                    <td> {{ advert.image.url }} </td>
                </tr>
                {% endfor %}
            </table>

    </div>

</body>

</html>